<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Aplikacja Magazyn' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/accordion.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/calendar.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/checkbox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/combo.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/combobox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/datagrid.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/datalist.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/datebox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/dialog.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/easyui.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/filebox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/layout.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/linkbutton.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/menu.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/menubutton.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/messager.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/numberbox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/pagination.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/panel.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/passwordbox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/progressbar.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/propertygrid.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/radiobutton.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/searchbox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/slider.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/spinner.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/splitbutton.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/switchbutton.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/tabs.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/tagbox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/textbox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/tooltip.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/tree.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/validatebox.css">
    <link rel="stylesheet" href="/styles/ui-cupertino/window.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/accordion.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/calendar.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/checkbox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/combo.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/combobox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/datagrid.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/datalist.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/datebox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/dialog.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/easyui.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/filebox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/layout.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/linkbutton.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/menu.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/menubutton.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/messager.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/numberbox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/pagination.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/panel.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/passwordbox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/progressbar.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/propertygrid.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/radiobutton.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/searchbox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/slider.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/spinner.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/splitbutton.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/switchbutton.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/tabs.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/tagbox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/textbox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/tooltip.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/tree.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/validatebox.css">
    <link rel="stylesheet" href="/styles/ui-dark-hive/window.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/accordion.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/calendar.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/checkbox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/combo.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/combobox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/datagrid.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/datalist.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/datebox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/dialog.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/easyui.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/filebox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/layout.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/linkbutton.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/menu.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/menubutton.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/messager.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/numberbox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/pagination.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/panel.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/passwordbox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/progressbar.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/propertygrid.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/radiobutton.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/searchbox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/slider.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/spinner.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/splitbutton.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/switchbutton.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/tabs.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/tagbox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/textbox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/tooltip.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/tree.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/validatebox.css">
    <link rel="stylesheet" href="/styles/ui-pepper-grinder/window.css">
    <link rel="stylesheet" href="/styles/ui-sunny/accordion.css">
    <link rel="stylesheet" href="/styles/ui-sunny/calendar.css">
    <link rel="stylesheet" href="/styles/ui-sunny/checkbox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/combo.css">
    <link rel="stylesheet" href="/styles/ui-sunny/combobox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/datagrid.css">
    <link rel="stylesheet" href="/styles/ui-sunny/datalist.css">
    <link rel="stylesheet" href="/styles/ui-sunny/datebox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/dialog.css">
    <link rel="stylesheet" href="/styles/ui-sunny/easyui.css">
    <link rel="stylesheet" href="/styles/ui-sunny/filebox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/layout.css">
    <link rel="stylesheet" href="/styles/ui-sunny/linkbutton.css">
    <link rel="stylesheet" href="/styles/ui-sunny/menu.css">
    <link rel="stylesheet" href="/styles/ui-sunny/menubutton.css">
    <link rel="stylesheet" href="/styles/ui-sunny/messager.css">
    <link rel="stylesheet" href="/styles/ui-sunny/numberbox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/pagination.css">
    <link rel="stylesheet" href="/styles/ui-sunny/panel.css">
    <link rel="stylesheet" href="/styles/ui-sunny/passwordbox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/progressbar.css">
    <link rel="stylesheet" href="/styles/ui-sunny/propertygrid.css">
    <link rel="stylesheet" href="/styles/ui-sunny/radiobutton.css">
    <link rel="stylesheet" href="/styles/ui-sunny/searchbox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/slider.css">
    <link rel="stylesheet" href="/styles/ui-sunny/spinner.css">
    <link rel="stylesheet" href="/styles/ui-sunny/splitbutton.css">
    <link rel="stylesheet" href="/styles/ui-sunny/switchbutton.css">
    <link rel="stylesheet" href="/styles/ui-sunny/tabs.css">
    <link rel="stylesheet" href="/styles/ui-sunny/tagbox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/textbox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/tooltip.css">
    <link rel="stylesheet" href="/styles/ui-sunny/tree.css">
    <link rel="stylesheet" href="/styles/ui-sunny/validatebox.css">
    <link rel="stylesheet" href="/styles/ui-sunny/window.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
