<html>
<head>
  <!--<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">-->
  <link rel="stylesheet" type="text/css" href="/styles/ui-cupertino/easyui.css">

  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
  <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
  <!--<script type="text/javascript" src="/js/stimulsoft-reports-js/scripts/stimulsoft.reports.js"></script>-->
  <!--<script type="text/javascript" src="/js/stimulsoft-reports-js/scripts/stimulsoft.viewer.js"></script>-->


</head>
<body>
<div id="content">
  <div id="loginScreen" style="margin:auto;margin-top:10%;width:300px">
    <div class="easyui-panel" title="Logowanie" style="padding:10px">
        <table>
          <tr>
            <td>Login:</td>
            <td><input id="login" name="login" class="f1 easyui-textbox"></input></td>
          </tr>
          <tr>
            <td>Hasło:</td>
            <td><input type="password" id="password" name="pass" class="f1 easyui-textbox"></input></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="button" value=" Zaloguj " onclick="auth()" class="f1 easyui-linkbutton"></td>
          </tr>
        </table>
    </div>
  </div>
</div>
<script>

  $('document').ready(function(){
    if(sessionStorage.getItem('id')){
      window.location.replace('/manageWares');
    }
  })

  function auth(){
    var login = $("#login").val();
    var pass = $("#password").val();
    //pass = CryptoJS.MD5(pass).toString();

    var address = 'http://localhost:1337/login';

    $.post(address,{username:login,password:pass})
      .done(function(data){
        console.log(data);
        // sessionStorage.setItem('login',data.found.userName);
        // sessionStorage.setItem('role',data.found.role);
        // sessionStorage.setItem('firstName',data.found.firstName);
        // sessionStorage.setItem('lastName',data.found.lastName);
        // sessionStorage.setItem('id',data.found.id);
        //
        // window.location.replace('/manageWares');
        if(data.user && data.token!=null){
          sessionStorage.setItem('login',data.user.userName);
          sessionStorage.setItem('role',data.user.role);
          sessionStorage.setItem('firstName',data.user.firstName);
          sessionStorage.setItem('lastName',data.user.lastName);
          //alert(data.token);
          sessionStorage.setItem('id',data.user.id);
          sessionStorage.setItem('token',data.token);
          window.location.replace('/manageWares')
        }
      })

  }
</script>
</body>
</html>
