<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
  <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>

</head>
<body>

<div id="dataRow">
  <table id="dg" title="Towary" style="width:40%;min-height:414px"
       class="easyui-datagrid"
       method="GET"
       toolbar="#toolbar"
       rownumbers="true"
       fitColumns="true"
       singleSelect="true"
       pagination="true">
    <thead>
    <tr>
      <th field="id" width="15">ID</th>
      <th field="name" width="50">Nazwa</th>
      <th field="quantity" width="25">Ilość</th>
      <th field="status" width="25">Status</th>
      <th field="sectorName" width="50">Sektor</th>
    </tr>
    </thead>
  </table>
  <div id="toolbar">
    <input id="cc1" class="easyui-combobox" style="width:250px;" editable="false" label="Magazyn:" data-options="
        valueField: 'id',
        textField: 'name',
        method: 'get',
        url: 'http://localhost:1337/api/warehouse/getAllCombo',
        onSelect: function(rec){
            var url = 'http://localhost:1337/api/ware/getWHWares?whId='+rec.id;
            var url2 = 'http://localhost:1337/api/sector/getWHSectorsCombo?whId='+rec.id;
            var url3 = 'http://localhost:1337/api/sector/getWHSectors?whId='+rec.id;
            $('#dg').datagrid('reload', url);
            $('#cc2').combobox('reload', url2);
            $('#cc3').combobox('reload', url3);
        }">
    <input id="cc2" class="easyui-combobox" style="width:250px;" editable="false" label="Sektor:" data-options="
        valueField: 'id',
        textField: 'name',
        method: 'get',
        onSelect: function(rec){
          $('#dg').datagrid('load',{
              sectorId: rec.id
          });
        }
        "/></br>
    <span>Nazwa:</span>
    <input id="itemName" style="border:1px solid #ccc">
    <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="doSearch()">Wyszukaj</a></br>
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addWareDialog()">Dodaj towar</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editWareDialog()">Edytuj towar</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteWare()">Usuń towar</a>

  </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
  <form id="fm" name="fm" method="get" novalidate>
    <div style="margin-bottom:5px;margin-top:10px">
      <input name="name" label="Nazwa:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input name="quantity" label="Ilość:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input name="status" label="Status:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input id="cc3" name="warehouseSector" class="easyui-combobox" style="width:250px;" editable="false" label="Sektor" required="true" data-options="
        valueField: 'id',
        textField: 'name',
        method: 'get',
        ">
    </div>
    <input type="hidden" name="id"/>
  </form>
</div>
<div id="dlg-buttons">
  <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveWare()" style="width:90px">Zapisz</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Anuluj</a>
</div>

<!--dialog od zamówienia-->

<script>
  function doSearch(){
    $('#dg').datagrid('load',{
      name: $('#itemName').val(),
      sectorId: $('#cc2').val()
    });
  }
  function addWareDialog(){
    $('#dlg').dialog('open').dialog('setTitle','Nowy towar');
    $('#fm').form('clear');
    url = '/api/ware/add';
  }
  function editWareDialog(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
      $('#dlg').dialog('open').dialog('setTitle','Edytuj towar');
      $('#fm').form('load',row);
      url = '/api/ware/edit';
    }
  }
  function saveWare(){
    /*var sectorId = $('#cc3').val();
    var input = $("<input>")
      .attr("type", "hidden")
      .attr("name", "sectorId").val(sectorId)
      .attr("id","fakeField");
    $('#fm').append($(input));*/

    $('#fm').form('submit',{
      url: url,
      success: function(data){
        if (data.serverError){
          $.messager.show({
            title: 'Błąd',
            msg: data.serverError
          });
        } else {
          $('#dlg').dialog('close');        // close the dialog
          $('#dg').datagrid('reload');    // reload the user data
        }
        $('#fakeField').remove();
      }
    });//*/
  }
  function deleteWare(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
      $.messager.confirm('Potwierdź','Czy na pewno chcesz usunąć wybrany towar?',function(r){
        if (r){
          $.get('/api/ware/delete',{id:row.id})
            .done(function(data) {
              if (data.serverError){
                $.messager.show({    // show error message
                  title: 'Błąd',
                  msg: data.serverError
                });
              } else {
                $('#dg').datagrid('reload');    // reload the ware data
              }
            })
        }
      });
    }
  }
</script>
</body>
</html>
