<html>
<head>
  <!--<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">-->
  <link rel="stylesheet" type="text/css" href="/styles/ui-cupertino/easyui.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
  <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
  <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
  <!--<script type="text/javascript" src="/js/stimulsoft-reports-js/scripts/stimulsoft.reports.js"></script>-->
  <!--<script type="text/javascript" src="/js/stimulsoft-reports-js/scripts/stimulsoft.viewer.js"></script>-->

  <style>
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url("/images/loading.gif") center no-repeat #fff;
    }
  </style>

  <script>
    $(window).load(function() {
      $(".se-pre-con").fadeOut("slow");;
    });
    if(!sessionStorage.getItem('id')){
      window.location.replace('/login');
    }else {
      if (sessionStorage.getItem('role') != 'admin') {
        window.location.replace('/manageWares');
      }
    }
  </script>
</head>
<body>
<div class="se-pre-con"></div>

<div id="navBar" style="margin-left:-20px;margin-top:-20px;padding-left:20px;padding-top:80px;margin-bottom:3px;background-color:#f2f5f7;width:100vw;background-image: url('/images/logo.png');background-repeat:no-repeat">
  <%- partial('./navbar.ejs') %>
</div>
<div id="data">
  <table id="dg" title="Użytkownicy" class="easyui-datagrid" style="width:100%;min-height:414px"
         method="GET"
         url="/api/user/getAll"
         toolbar="#toolbar"
         rownumbers="true" fitColumns="true" singleSelect="true" pagination="true">
    <thead>
    <tr>
      <th field="id" width="10" sortable="true">ID</th>
      <th field="firstName" width="50" sortable="true">Imię</th>
      <th field="lastName" width="50" sortable="true">Nazwisko</th>
      <th field="userName" width="30" sortable="true">Login</th>
      <th field="role" width="30" sortable="true">Rola</th>
    </tr>
    </thead>
  </table>
  <div id="toolbar">
    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUserDialog()">Dodaj użytkownika</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUserDialog()">Edytuj użytkownika</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteUser()">Usuń użytkownika</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="resetUserPassDialog()">Resetuj hasło użytkownika</a>
  </div>
</div>
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" modal="true" buttons="#dlg-buttons">
  <form id="fm" name="fm" method="get" novalidate>
    <div style="margin-bottom:5px;margin-top:10px">
      <input name="firstName" label="Imię:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input name="lastName" label="Nazwisko:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input name="userName" label="Login:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input type="password" id="pass" name="password" label="Hasło:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <select id="cc" style="width:75%" class="easyui-combobox" name="role" editable="false" label="Rola:" limitToList="true" required="true">
        <option value="admin">Administrator</option>
        <option value="user">Zwykły użytkownik</option>
      </select>
    </div>
    <!--<input type="hidden" name="id"/>-->
  </form>
</div>
<div id="dlg-buttons">
  <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="addUser()" style="width:90px">Zapisz</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Anuluj</a>
</div>

<div id="dlg-update" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" modal="true" buttons="#dlg-update-buttons">
  <form id="fm-update" name="fm" method="get" novalidate>
    <div style="margin-bottom:5px;margin-top:10px">
      <input name="firstName" label="Imię:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input name="lastName" label="Nazwisko:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input name="userName" label="Login:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <select id="ccupd" style="width:75%" class="easyui-combobox" name="role" editable="false" label="Rola:" limitToList="true" required="true">
        <option value="admin">Administrator</option>
        <option value="user">Zwykły użytkownik</option>
      </select>
    </div>
    <input type="hidden" name="id"/>
  </form>
</div>
<div id="dlg-update-buttons">
  <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="updateUser()" style="width:90px">Zapisz</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-update').dialog('close')" style="width:90px">Anuluj</a>
</div>

<div id="dlg-reset-passwd" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" modal="true" buttons="#dlg-reset-passwd-buttons">
  <form id="fm-reset-passwd" name="fm" method="get" novalidate>
    <div style="margin-bottom:5px;margin-top:10px">
      <input type="password" id="pass1" label="Nowe hasło:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input type="password" id="pass2" label="Powtórz hasło:" style="width:100%" class="easyui-textbox" required="true">
    </div>
  </form>
</div>
<div id="dlg-reset-passwd-buttons">
  <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="resetUserPass()" style="width:90px">Zapisz</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-reset-passwd').dialog('close')" style="width:90px">Anuluj</a>
</div>

<script>

  $('document').ready(function(){
      $('#wareButton').removeClass("selected");
      $('#sectorButton').removeClass("selected");
      $('#orderButton').removeClass("selected");
      $('#reportButton').removeClass("selected");
      $('#userButton').addClass("selected");
      $('#requisitionButton').removeClass("selected");
  })

  function newUserDialog(){
    $('#dlg').dialog('open').dialog('setTitle','Nowy użytkownik');
    $('#fm').form('clear');
  }
  function editUserDialog(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
      $('#dlg-update').dialog('open').dialog('setTitle','Edytuj użytkownika');
      $('#fm-update').form('load',row);
    }
  }
  function resetUserPassDialog(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
      $('#dlg-reset-passwd').dialog('open').dialog('setTitle','Reset hasła użytkownika');
    }
  }
  function resetUserPass(){
    var userId = $('#dg').datagrid('getSelected').id;
    var pass1 = $('#pass1').val();
    var pass2 = $('#pass2').val();
    if(pass1.localeCompare(pass2)==0){
      //zapytanie o zmiane hasla
      $.get("api/user/changeUserPasswd",{id:userId,password:pass1})
        .done(function(data){
          $('#dlg-reset-passwd').dialog('close');
          $.messager.show({    // show error message
            title: 'OK',
            msg: "Poprawnie zmieniono hasło"
          });
        })
        .fail(function(data){
          $.messager.show({    // show error message
            title: 'Błąd',
            msg: data.responseText
          });
        })
    }
    else{
      $.messager.show({    // show error message
        title: 'Błąd',
        msg: "Wprowadzone hasła nie zgadzają się"
      });
    }
  }
  function updateUser(){
    $.get("api/user/update",$("#fm-update").serialize())
      .done(function(data){
        if (data.serverError){
          $.messager.show({
            title: 'Błąd',
            msg: data.serverError
          });
        } else {
          $('#dlg-update').dialog('close');        // close the dialog
          $('#dg').datagrid('reload');    // reload the user data
        }
      })
      .fail(function(data){
        $.messager.show({    // show error message
          title: 'Błąd',
          msg: data.responseText
        });
      })
  }
  function addUser(){
    $.post("/user",$("#fm").serialize())
      .done(function(data){
        if (data.serverError){
          $.messager.show({
            title: 'Błąd',
            msg: data.serverError
          });
        } else {
          $('#dlg').dialog('close');        // close the dialog
          $('#dg').datagrid('reload');    // reload the user data
        }
      })
      .fail(function(data){
        $.messager.show({    // show error message
          title: 'Błąd',
          msg: data.responseText
        });
      })
  }

  // function saveUser(){
  //   var raw = $("input[name='password']").val();
  //   var enc = CryptoJS.MD5(raw).toString();
  //   $("input[name='password']").val(enc);
  //   $.get(url,$("#fm").serialize())
  //     .done(function(data){
  //       if (data.serverError){
  //         $.messager.show({
  //           title: 'Błąd',
  //           msg: data.serverError
  //         });
  //       } else {
  //         $('#dlg').dialog('close');        // close the dialog
  //         $('#dg').datagrid('reload');    // reload the user data
  //       }
  //     })
  //     .fail(function(data){
  //       $.messager.show({    // show error message
  //         title: 'Błąd',
  //         msg: data.responseText
  //       });
  //     })
  // }
  function deleteUser(){
    var row = $('#dg').datagrid('getSelected');
    if (row){
      $.messager.confirm('Potwierdź','Czy na pewno chcesz usunąć wybranego użytkownika?',function(r){
        if (r){
          $.get('/api/user/delete',{id:row.id})
            .done(function(data) {
              if (data.serverError){
                $.messager.show({    // show error message
                  title: 'Błąd',
                  msg: data.serverError
                });
              } else {
                $('#dg').datagrid('reload');    // reload the user data
              }
            })
        }
      });
    }
  }
</script>
</body>
</html>
