<style>
  .menu-button{
    width:170px;
    height:30px;
    font-size:15px;
    font-weight:bold;
  }
  .selected{
    border-color: gold;
  }
</style>
<div>
  <a id="wareButton" href="/manageWares" class="easyui-linkbutton menu-button">Towary i zamówienia</a>
  <a id="sectorButton" href="/manageSectors" class="easyui-linkbutton menu-button">Magazyny i sektory</a>
  <a id="orderButton" href="/manageOrders" class="easyui-linkbutton menu-button">Dostawy</a>
  <a id="requisitionButton" href="/manageRequisitions" class="easyui-linkbutton menu-button">Zapotrzebowania</a>
  <a id="reportButton" href="manageReports" class="easyui-linkbutton menu-button">Raporty</a>
  <a id="userButton" href="/manageUsers" class="easyui-linkbutton menu-button">Użytkownicy</a>
</div>
<div>
  <h3 style="display:inline-block">Zalogowano jako: <span id="firstLastName"></span></h3>
  <input type="button" style="" class="easyui-linkbutton" value=" Zmień hasło " onclick="changePasswdDialog()">
  <input type="button" style="" class="easyui-linkbutton" value=" Wyloguj " onclick="logout()">
</div>


<div id="passdlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#passdlg-buttons">
  <form id="passfm" name="fm" method="get" novalidate>
    <div style="margin-bottom:5px;margin-top:10px">
      <input id="oldPassword" type="password" label="Stare hasło:" labelWidth="150px" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px;margin-top:10px">
      <input id="newPassword" type="password" label="Nowe hasło:" labelWidth="150px" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px;margin-top:10px">
      <input id="newPassword2" type="password" label="Powtórz nowe hasło:" labelWidth="150px" style="width:100%" class="easyui-textbox" required="true">
    </div>
  </form>
</div>
<div id="passdlg-buttons">
  <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="changePasswd()" style="width:90px">Zapisz</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#passdlg').dialog('close')" style="width:90px">Anuluj</a>
</div>
<script>
  $(document).ready(function(){
    $('#firstLastName').html(sessionStorage.getItem("firstName")+" "+sessionStorage.getItem("lastName"));

    if(sessionStorage.getItem("role")!='admin'){
      $('#userButton').css('display','none');
    }else{
      $('#userButton').css('display','inline-block');
    }
  })
  function logout(){
    sessionStorage.removeItem('login');
    sessionStorage.removeItem('role');
    sessionStorage.removeItem('firstName');
    sessionStorage.removeItem('lastName');
    sessionStorage.removeItem('id');

    window.location.replace('/login');
  }
  function changePasswdDialog(){
    $('#passdlg').dialog('open').dialog('setTitle','Zmiana hasła');
    $('#passfm').form('clear');
    //url = '/api/user/changePasswd';
  }
  function changePasswd(){
    var id = sessionStorage.getItem("id");
    var oldPassRaw = $('#oldPassword').val();
    var newPassRaw = $('#newPassword').val();
    var newPass2 = $('#newPassword2').val();
    url = '/api/user/changePasswd';
    if(newPassRaw.localeCompare(newPass2)==0){
      //var oldPassEnc = CryptoJS.MD5(oldPassRaw).toString();
      //var newPassEnc = CryptoJS.MD5(newPassRaw).toString();
      $.get(url,{id:id,username:sessionStorage.getItem('login'),password:oldPassRaw,newPassword:newPassRaw})
        .done(function(data){
          $('#passdlg').dialog('close');
          $.messager.show({    // show error message
            title: 'OK',
            msg: "Poprawnie zmieniono hasło"
          });
        })
        .fail(function(data){
          $.messager.show({    // show error message
            title: 'Błąd',
            msg: data.responseText
          });
        })
    }
    else{
      $.messager.show({    // show error message
        title: 'Błąd',
        msg: "Wprowadzone hasła nie zgadzają się"
      });
    }
  }
</script>
