

<div>
  <input type="button" value="pos1">
  <input type="button" value="pos2">
  <input type="button" value="pos3">
  <input type="button" value="pos4">
  </br>
  <input type="button" value="Zmień hasło" onclick="changePasswdDialog()">
</div>

<div id="passdlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#passdlg-buttons">
  <form id="passfm" name="fm" method="get" novalidate>
    <div style="margin-bottom:5px;margin-top:10px">
      <input id="oldPassword" type="password" label="Stare hasło:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px;margin-top:10px">
      <input id="newPassword" type="password" label="Nowe hasło:" style="width:100%" class="easyui-textbox" required="true">
    </div>
    <div style="margin-bottom:5px">
      <input id="newPassword2" type="password" label="Powtórz nowe hasło:" style="width:100%" class="easyui-textbox" required="true">
    </div>
  </form>
</div>
<div id="passdlg-buttons">
  <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="changePasswd()" style="width:90px">Zapisz</a>
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#passdlg').dialog('close')" style="width:90px">Anuluj</a>
</div>
<script>
  function changePasswdDialog(){
    $('#passdlg').dialog('open').dialog('setTitle','Zmiana hasła');
    $('#passfm').form('clear');
    //url = '/api/user/changePasswd';
  }
  function changePasswd(){
    var id = sessionStorage.getItem("id");
    var oldPassRaw = $('#oldPassword').val();
    var newPassRaw = $('#newPassword').val();
    var newPass2 = $('#newPassword2').val();
    url = '/api/user/changePasswd';
    if(newPassRaw.localeCompare(newPass2)==0){
      var oldPassEnc = CryptoJS.MD5(oldPassRaw).toString();
      var newPassEnc = CryptoJS.MD5(newPassRaw).toString();
      $.get(url,{id:id,oldPassword:oldPassEnc,newPassword:newPassEnc})
        .done(function(data){
          $('#dlg').dialog('close');
          $.messager.show({    // show error message
            title: 'OK',
            msg: "Poprawnie zmieniono hasło"
          });
        })
        .fail(function(data){
          $.messager.show({    // show error message
            title: 'Błąd',
            msg: data.responseText
          });
        })
    }
    else{
      $.messager.show({    // show error message
        title: 'Błąd',
        msg: "Wprowadzone hasła nie zgadzają się"
      });
    }
  }
</script>
